<div class="container">
  <div class="row">
    <div class="div container row d-flex justify-content-center">
      <form class="mx-auto form" style="width: 350px;">
          <!-- Email input -->
          <div class="form-outline col-md-6 formInput">
            <input type="email" id="formInput" class="form-control  border border-secondary " placeholder="Email or username" />
          </div>
        
          <!-- Password input -->
          <div class="form-outline col-md-6 formInput" style="    border-top-width: 20px;margin-top: 20px; margin-bottom: 21px;">
            <input type="password" id="formInput" class="form-control border border-secondary" placeholder="Password"/>
            
          </div>
        
          <!-- Submit button -->
          <button type="button" class="text-center btn btn-primary btn-block register">Register</button>
          <button type="button" class="text-center btn btn-secondary btn-block ">Sign in</button>
      
      </form>   
    </div>
  </div>
</div>

