.container {
    margin-top: 100px;
}

.item a:hover {
    color: black;
}

.card {
    padding: 20px;
    margin: 50px
}

.card  img {
    width: 200px;
    height: 200px;
    margin-bottom: 12px;
    transition: 0.4s ease-in-out;
    transform: scale(1.1);
}

.card img:hover {
    transition: 0.4s ease-in-out;
    transform: scale(1.1);
}

.iconcolor {
    color: rgb(71, 70, 70) ;  
}


.formInput {
    border-top-width: 20px;
    margin-top: 20px;
    margin-bottom: 21px;
    width: 325px;
}
.button {
    margin-left: 40px;
    width: 15px;
}
.btn {
    width: 150px;
}
.register {
    margin-right: 24px;  
}

.auth {
    margin-bottom: 310px;
}
