
<div class="div container row d-flex justify-content-center">
    <form class="mx-auto" style="width: 500px;">
        <!-- Email input -->
        <div class="form-outline col-md-6 ">
          <input type="email" id="form2Example1" class="form-control" />
          <label class="form-label" for="form2Example1">Email address</label>
        </div>
      
        <!-- Password input -->
        <div class="form-outline col-md-6  ">
          <input type="password" id="form2Example2" class="form-control" />
          <label class="form-label" for="form2Example2">Password</label>
        </div>
      
        
      
        <!-- Submit button -->
        <button type="button" style="margin-left: 82px ;"class="text-center btn btn-primary btn-block mb-6">Sign in</button>
    
      </form>   
</div>
