<ng-container *ngIf="products.length != 0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>

                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products; let i = index">
                            <td style="width: 325px;">{{i+1}}</td>
                            <td style="width: 12%;">{{product.name}}</td>
                            <td ><img style="width: 120px;" src="{{product.image}}"></td>
                            <td>{{product.price}}</td>
                            <td style="width: 12%;">{{product.quantity}}</td>
                            <td style="width: 12%;">{{product.total}}</td>
                            <td> 
                                <button (click)= "deleteItem(product)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>  
                            </td>

                        </tr>
                        <tr >
                                <td></td>
                                <td><label for="promotionCode"> <strong>Promotion Code</strong></label></td>
                                <td><input type="text"  maxlength="8" placeholder="Promotion Code" name="promotionCode" #promotionCode><button style="background-color: #0275d8; color: white;" type="button" (click)="applyDiscount(promotionCode.value)">Apply</button></td>
                                <td *ngIf="totalDiscount > 0"><strong>Total discount: ${{totalDiscount | number }}</strong></td> 
                              

                        </tr>
                        <tr class="col-md-4">
                    
                            <td><button (click)= "emptyCart()" class="btn btn-danger">Empty Cart</button></td>
                            <td><button  routerLink="/products" class="btn btn-primary">Booking More</button></td>
                            <td><button class="btn btn-success">Checkout</button></td>
                            <td><strong>Grand Total: ${{grandTotal}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="products.length == 0">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <img src="/assets/card.png" alt="">
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6>
            <button routerLink="/products" class="btn btn-primary">Book Now</button>
        </div>
    </div>
</ng-container>