.form-control {
    border-radius: 3px;
    width: 600px;
    margin-left: 20px
}

.search-icon {
    position: absolute;
    z-index: 10;
    right: 40%;
    color: blue;
    top: 20px;

}
.iconcolor {
 color: rgb(71, 70, 70) ;  
}

.card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: rgb(240, 238, 238) ;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}


.item img {
  width: 64px;  
}

.item {
    margin: 0px 15px;
    text-align: center;
}

.item a:hover {
    color: black;
}

.card {
    padding: 20px;
    margin: 50px
}

.card  img {
    width: 200px;
    height: 200px;
    margin-bottom: 12px;
    transition: 0.4s ease-in-out;
    transform: scale(1.1);
}

.card img:hover {
    transition: 0.4s ease-in-out;
    transform: scale(1.1);
}

.iconcolor {
    color: rgb(71, 70, 70) ;  
}
.addtocart {
    color: rgb(71, 70, 70) ;  
}

.itemList {
    border-radius: 15px;
    background: white;
}
.search-div {
}
.search-input {
    width: 400px;
}
.btn-my-account {
    margin-left: 120px;
}

.btn-cart {
    margin-left: 130px;
}