#logo {
    width:50%;
    height:50%;
}

.panel-heading{
font-size:150%;
}
.registerForm{
   margin: 20px; 
   padding: 25px;
   border-style: solid;
   border-color: lightgray;
   border-width: 2px;
}
.form-group {
    margin-top: 20px;
}
button {
    width: 110px;
    margin-left: 25px;
}

form{
    margin-bottom: 300px;
}

.registration{
    margin-bottom: 40px;
}
